{% extends 'student/studentbase.html' %}
{% load static %}

{% block content %}
<div class="container mt-5">
  <div class="card">
    <div class="card-header bg-primary text-white">
      <h3 class="card-title text-center">{{ quiz.quiz_name }}</h3>
    </div>
    <div class="card-body">
      <form class="form" autocomplete="off" onsubmit="return validateAndSaveAns()" action="/student/calculate-marks" method="POST">
        {% csrf_token %}
        {% for q in questions %}
        <div class="mb-4">
          <h4 class="text-info">{{ forloop.counter }}. {{ q.question }}</h4>
          <h5 class="text-end">[Marks {{ q.marks }}]</h5>

          <div class="form-check">
            <input class="form-check-input" type="radio" name="{{ forloop.counter }}" id="{{ forloop.counter }}-option1"
              value="Option1">
            <label class="form-check-label" for="{{ forloop.counter }}-option1">
              {{ q.option1 }}
            </label>
          </div>

          <div class="form-check">
            <input class="form-check-input" type="radio" name="{{ forloop.counter }}" id="{{ forloop.counter }}-option2"
              value="Option2">
            <label class="form-check-label" for="{{ forloop.counter }}-option2">
              {{ q.option2 }}
            </label>
          </div>

          <div class="form-check">
            <input class="form-check-input" type="radio" name="{{ forloop.counter }}" id="{{ forloop.counter }}-option3"
              value="Option3">
            <label class="form-check-label" for="{{ forloop.counter }}-option3">
              {{ q.option3 }}
            </label>
          </div>

          <div class="form-check">
            <input class="form-check-input" type="radio" name="{{ forloop.counter }}" id="{{ forloop.counter }}-option4"
              value="Option4">
            <label class="form-check-label" for="{{ forloop.counter }}-option4">
              {{ q.option4 }}
            </label>
          </div>
        </div>
        {% endfor %}
        <input type="hidden" id="total-questions" value="{{ questions|length }}">
        <button class="btn btn-info btn-lg w-100" type="submit">Submit</button>
      </form>
    </div>
  </div>
</div>

<!-- Bootstrap Modal -->
<div class="modal fade" id="confirmModal" tabindex="-1" aria-labelledby="confirmModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="confirmModalLabel">Confirmation</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        There are empty questions you have not answered. Are you sure you want to submit?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary" id="confirmSubmit">Submit Anyway</button>
      </div>
    </div>
  </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
<script>
  function validateAndSaveAns() {
    var totalQuestions = parseInt(document.getElementById('total-questions').value, 10);
    var unanswered = false;
    
    for (var i = 1; i <= totalQuestions; i++) {
      var question = document.querySelector('input[name="' + i + '"]:checked');
      if (!question) {
        unanswered = true;
        break;
      }
    }

    if (unanswered) {
      // Show custom modal
      var confirmModal = new bootstrap.Modal(document.getElementById('confirmModal'));
      var confirmSubmitButton = document.getElementById('confirmSubmit');
      
      confirmModal.show();

      confirmSubmitButton.addEventListener('click', function () {
        saveAns();
        document.querySelector('form').submit(); // Submit the form after confirmation
      });

      return false; // Prevent default form submission
    } else {
      saveAns();
      return true;  // Allow form submission
    }
  }

  function saveAns() {
    var ele = document.getElementsByTagName('input');
    for (var i = 0; i < ele.length; i++) {
      if (ele[i].type === "radio" && ele[i].checked) {
        setCookie(ele[i].name, ele[i].value, 3);
      }
    }
  }

  function setCookie(cname, cvalue, exdays) {
    var d = new Date();
    d.setTime(d.getTime() + (exdays * 24 * 60 * 60 * 1000));
    var expires = "expires=" + d.toUTCString();
    document.cookie = cname + "=" + cvalue + ";" + expires + ";path=/";
  }
</script>
{% endblock content %}
