{% extends 'student/studentbase.html' %}
{% load static %}

{% block content %}
<div class="container mt-5">
  <div class="card">
    <div class="card-header bg-primary text-white">
      <h3 class="card-title text-center">Quizzes Made Available by Your Teachers</h3>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-hover">
          <thead>
            <tr>
              <th>Quiz Name</th>
              <th>Take Quiz</th>
            </tr>
          </thead>
          <tbody>
            {% for t in quizzes %}
            <tr>
              <td>{{ t.quiz_name }}</td>
              <td>
                <a class="btn btn-danger btn-sm" href="{% url 'take-exam' t.id %}" title="Take Exam">
                  <i class="fas fa-arrow-right"></i>
                </a>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
{% endblock content %}