{% extends 'student/studentbase.html' %}
{% load widget_tweaks %}
{% block content %}

{% block extra_head %}
<style>
  body {
    font-family: 'Alexandria', sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }

  .container-fluid {
    padding: 2rem 1rem;
  }

  .card-title a {
    color: #ffffff;
    text-decoration: none;
  }

  .card-title a:hover {
    text-decoration: underline;
  }

  .card.bg-warning {
    background-color: #e4a163 !important;
    /* Custom primary color */
  }

  .card.bg-warning:hover {
    background-color: #bf8753 !important;
    /* Custom primary color */
  }

  .card-text {
    font-size: 2rem;
  }

  .f-left {
    float: left;
  }

  .text-right {
    text-align: right;
  }

  @media (max-width: 768px) {
    .card-text {
      font-size: 1.5rem;
    }
  }

  @media (max-width: 576px) {
    .card-text {
      font-size: 1.25rem;
    }
  }

  .custom-p {
    margin-bottom: 40px !important;
  }

  .custom-p-1 {
    margin-top: 40px !important;
  }

</style>
{% endblock extra_head %}

<div class="container-fluid py-5">
  <div class="row">
    <h3>Hello, {{ user.first_name }} {{ user.last_name }}, welcome to MCQuiz!</h3>
    <p>This is your personal dashboard. Click the card below to check the quizzes that have been made available by your teachers.</p>
    <p class="custom-p">Happy MCQuizing!</p>

    <div class="col-md-6 mb-4">
      <a href="student-exam" class="card bg-warning text-white card-link">
        <div class="card-body">
          <h5 class="card-title">Total Quizzes Available</h5>
          <h2 class="card-text text-right">
            <i class="fas fa-book f-left"></i><span> {{ total_quiz }} </span>
          </h2>
        </div>
      </a>
      <p class="custom-p-1">To check your marks, click on the Marks tab on the left!</p>
    </div>
  </div>
</div>

{% endblock content %}
