{% extends 'teacher/teacherbase.html' %}
{% load widget_tweaks %}
{% block content %}


{% block extra_head %}
  <style>
    body {
      font-family: 'Roboto', sans-serif;
      margin: 0;
      display: flex;
      flex-direction: column;
      min-height: 100vh;
    }

    .hero {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      padding: 1.2rem 1rem 2rem 1rem;
      background-color: #f8f9fa;
      flex: 1;
    }

    .hero-content {
      flex: 1;
      max-width: 800px;
      text-align: center;
    }

    .hero h1 {
      font-size: 4rem;
      color: rgb(31, 48, 65);
      margin-bottom: 1rem;
      font-family: 'Alexandria';
    }

    .hero p {
      font-size: 1.5rem;
      color: #6c757d;
      margin-bottom: 1.5rem;
    }

    @media (max-width: 1308px) {
      .hero {
        padding: 5rem 1rem;
        flex-direction: column;
        text-align: center;
      }

      .hero h1 {
        font-size: 3rem;
      }

      .hero p {
        font-size: 1.25rem;
      }
    }

    @media (max-width: 768px) {
      .hero {
        padding: 5rem 1rem;
        flex-direction: column;
        text-align: center;
      }

      .hero h1 {
        font-size: 2.5rem;
      }

      .hero p {
        font-size: 1rem;
      }
    }

    @media (max-width: 576px) {
      .hero {
        padding: 4rem 1rem;
        flex-direction: column;
        text-align: center;
      }

      .hero h1 {
        font-size: 2rem;
      }

      .hero p {
        font-size: 0.875rem;
      }
    }

    @media (max-width: 360px) {
      .hero {
        padding: 3rem 1rem;
        flex-direction: column;
        text-align: center;
      }

      .hero h1 {
        font-size: 1.5rem;
      }

      .hero p {
        font-size: 0.75rem;
      }
    }

    .container-fluid {
      padding: 2rem 1rem;
    }

    .card-title a {
      color: #ffffff;
      text-decoration: none;
    }

    .card-title a:hover {
      text-decoration: underline;
    }

    .card.bg-primary {
      background-color: rgb(91, 139, 193) !important; /* Custom primary color */
    }

    .card.bg-success {
      background-color: #bc60b8 !important; /* Custom primary color */
    }

    .card.bg-warning {
      background-color: #e4a163 !important; /* Custom primary color */
    }

    .card.bg-danger {
      background-color: #87c18e !important; /* Custom primary color */
    }

    .card.bg-primary:hover {
      background-color: rgb(74, 115, 161) !important; /* Custom primary color */
    }

    .card.bg-success:hover {
      background-color: #a555a1 !important; /* Custom primary color */
    }

    .card.bg-warning:hover {
      background-color: #bf8753 !important; /* Custom primary color */
    }

    .card.bg-danger:hover {
      background-color: #76a97c !important; /* Custom primary color */
    }
  </style>
{% endblock extra_head %}

<div class="container-fluid py-5">
    <div class="row">
      <div class="col-md-3 mb-4">
        <a href="teacher-view-student" class="card bg-primary text-white card-link">
          <div class="card-body">
            <h5 class="card-title">Total Students</h5>
            <h2 class="card-text text-right">
              <i class="fas fa-user-graduate me-2"></i>{{ total_student }}
            </h2>
          </div>
        </a>
      </div>
      
      <div class="col-md-3 mb-4">
        <a href="teacher-view-exam" class="card bg-warning text-white card-link">
          <div class="card-body">
            <h5 class="card-title">Total Quizzes</h5>
            <h2 class="card-text text-right">
              <i class="fas fa-book me-2"></i>{{ total_quiz }}
            </h2>
          </div>
        </a>
      </div>
      <div class="col-md-3 mb-4">
        <a href="teacher-view-question" class="card bg-danger text-white card-link">
          <div class="card-body">
            <h5 class="card-title">Total Questions</h5>
            <h2 class="card-text text-right">
              <i class="fas fa-question-circle me-2"></i>{{ total_question }}
            </h2>
          </div>
        </a>
      </div><div class="col-md-3 mb-4">
        <a href="teacher-view-student-marks" class="card bg-success text-white text-decoration-none">
          <div class="card-body">
            <h5 class="card-title">Student Marks</h5>
            <h2 class="card-text text-right">
              <i class="fas fa-sort-numeric-up me-2"></i>{{ total_marks }}
            </h2>
          </div>
        </a>
      </div>
      
    </div>
  </div>


{% endblock content %}