{% extends 'teacher/teacherbase.html' %}
{% load static %}
{% block content %}

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
  <style>
    .card.bg-primary {
      background-color: rgb(147, 177, 100) !important; /* Custom primary color */
    }

    .card.bg-success {
      background-color: rgb(236, 167, 102) !important; /* Custom primary color */
    }

    .card.bg-primary:hover {
      background-color: rgb(127, 153, 86) !important; /* Custom primary color */
    }

    .card.bg-success:hover {
      background-color: rgb(206, 147, 88) !important; /* Custom primary color */
    }
  </style>
</head>

<div class="container py-5">
  <div class="row">
    <div class="col-md-6 mb-4">
      <a href="teacher-add-question" class="card bg-primary text-white text-decoration-none">
        <div class="card-body">
          <h5 class="card-title">Add Question</h5>
          <h2 class="card-text text-right">
            <i class="fas fa-plus-circle me-2"></i>
          </h2>
        </div>
      </a>
    </div>

    <div class="col-md-6 mb-4">
      <a href="teacher-view-question" class="card bg-success text-white text-decoration-none">
        <div class="card-body">
          <h5 class="card-title">View Questions</h5>
          <h2 class="card-text text-right">
            <i class="fas fa-eye me-2"></i>
          </h2>
        </div>
      </a>
    </div>
  </div>
</div>

<script src="http://netdna.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"></script>


{% endblock content %}
