{% extends 'teacher/teacherbase.html' %}
{% load widget_tweaks %}
{% block content %}

{% block extra_head %}
<style>
  .btn-primary {
    border: 2px solid #5b9bf1 !important;
    background: #5b9cf1 !important;
    color: white !important;
    border-radius: 24px !important;
    transition: 0.25s !important;
    cursor: pointer !important;
  }

  .btn-primary:hover {
        background: #4b82ca !important;
    }
</style>
{% endblock extra_head %}

  <div class="container">
    <h2 class="text-center text-dark mb-4">Add Question</h2>
    <form method="POST" autocomplete="off" style="max-width: 600px; margin: auto;">
      {% csrf_token %}
      <div class="form-group mb-3">
        <label for="quizID">Quiz</label>
        {% render_field questionForm.quizID|attr:"required:true" class="form-control" %}
      </div>

      <div class="form-group mb-3">
        <label for="question">Question</label>
        {% render_field questionForm.question|attr:"required:true" class="form-control" placeholder="e.g. What word contains 26 letters but only has three syllables? " %}
      </div>

      <div class="form-group mb-3">
        <label for="marks">Marks</label>
        {% render_field questionForm.marks|attr:"required:true" class="form-control" placeholder="e.g. 5" %}
      </div>

      <div class="form-group mb-3">
        <label for="option1">Option 1</label>
        {% render_field questionForm.option1|attr:"required:true" class="form-control" placeholder="e.g. Alphabet" %}
      </div>

      <div class="form-group mb-3">
        <label for="option2">Option 2</label>
        {% render_field questionForm.option2|attr:"required:true" class="form-control" placeholder="e.g. Kangaroo" %}
      </div>

      <div class="form-group mb-3">
        <label for="option3">Option 3</label>
        {% render_field questionForm.option3|attr:"required:true" class="form-control" placeholder="e.g. Wombat" %}
      </div>

      <div class="form-group mb-3">
        <label for="option4">Option 4</label>
        {% render_field questionForm.option4|attr:"required:true" class="form-control" placeholder="e.g. Australia" %}
      </div>

      <div class="form-group mb-3">
        <label for="answer">Answer</label>
        {% render_field questionForm.answer|attr:"required:true" class="form-control" %}
      </div>

      <button type="submit" class="btn btn-primary">Add Question</button>
    </form>
  </div>
{% endblock %}
