{% extends 'teacher/teacherbase.html' %}
{% block content %}

{% block extra_head %}
  <title>Select Quiz To View Questions</title>
{% endblock extra_head %}

  <div class="container mt-1">
    <div class="card">
      <div class="card-header bg-primary text-white">
        <h5 class="card-title text-center mb-0">Select Quiz To View Questions</h5>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-hover">
            <thead>
              <tr>
                <th>Quiz Name</th>
                <th>Total Question</th>
                <th>Total Marks</th>
                <th>View Questions</th>
              </tr>
            </thead>
            <tbody>
              {% for quiz in quizzes %}
              <tr>
                <td>{{ quiz.quiz_name }}</td>
                <td>{{ quiz.question_number }}</td>
                <td>{{ quiz.total_marks }}</td>
                <td>
                  <a href="{% url 'see-question' quiz.id %}" class="btn btn-primary btn-xs" role="button">
                    <i class="fas fa-eye"></i> View Questions
                  </a>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

{% endblock content %}