{% extends 'quiz/adminbase.html' %}
{% load static %}

{% block content %}
<div class="container mt-5">
  <div class="card">
    <div class="card-header bg-primary text-white">
      <h3 class="card-title text-center">Teachers</h3>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-hover">
          <thead>
            <tr>
              <th>Name</th>
              <th>Profile Picture</th>
              <th>Mobile</th>
              <th>Address</th>
              <th>Update</th>
              <th>Delete</th>
            </tr>
          </thead>
          <tbody>
            {% for teacher in teachers %}
            <tr>
              <td>{{ teacher.get_name }}</td>
              <td>
                <a href="#" data-bs-toggle="modal" data-bs-target="#imageModal{{ teacher.id }}">
                  <img src="{% static teacher.profile_pic.url %}" alt="Profile Pic" class="img-thumbnail" width="40px" height="40px">
                </a>
              </td>
              <td>{{ teacher.mobile }}</td>
              <td>{{ teacher.address }}</td>
              <td>
                <a href="{% url 'update-teacher' teacher.id %}" class="btn btn-primary btn-sm" title="Update">
                  <i class="fas fa-edit"></i>
                </a>
              </td>
              <td>
                <a href="{% url 'delete-teacher' teacher.id %}" class="btn btn-danger btn-sm" title="Delete">
                  <i class="fas fa-trash-alt"></i>
                </a>
              </td>
            </tr>

            <!-- Modal -->
            <div class="modal fade" id="imageModal{{ teacher.id }}" tabindex="-1" aria-labelledby="imageModalLabel{{ teacher.id }}" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="imageModalLabel{{ teacher.id }}">Profile Picture</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body text-center">
                    <img src="{% static teacher.profile_pic.url %}" alt="Profile Pic" class="img-fluid">
                  </div>
                </div>
              </div>
            </div>

            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<!-- Bootstrap JS Bundle (Popper.js included) -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-13hC5YmVe5QFqYmURqwU4aRChD0ABsyr9YV0Kg++qVCA6MxFqjUj5Gt1z8jOm+dL" crossorigin="anonymous"></script>
{% endblock content %}
