{% extends 'quiz/adminbase.html' %}
{% load static %}
{% block content %}

{% block extra_head %}
  <title>View Marks</title>
{% endblock extra_head %}


  <div class="container mt-1">
    <div class="card">
      <div class="card-header bg-primary text-white">
        <h5 class="card-title text-center mb-0">View Marks</h5>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-hover">
            <thead>
              <tr>
                <th>Quiz Name</th>
                <th>Total Marks</th>
                <th>Attempt Number</th>
                <th>Quiz Date</th>
              </tr>
            </thead>
            <tbody>
              {% for t in results %}
              <tr>
                <td>{{ t.exam }}</td>
                <td>{{ t.marks }}</td>
                <td>Attempt {{ forloop.counter }}</td>
                <td>{{ t.date }}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
