{% extends 'quiz/adminbase.html' %}
{% block content %}

{% block extra_head %}
  <title>Quizzes</title>
{% endblock extra_head %}

  <div class="container mt-5">
    <div class="card">
      <div class="card-header bg-primary text-white">
        <h5 class="card-title text-center mb-0">Quizzes</h5>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-hover">
            <thead>
              <tr>
                <th>Quiz Name</th>
                <th>Total Question</th>
                <th>Total Marks</th>
                <th>Visibility</th>
                <th>Delete</th>
              </tr>
            </thead>
            <tbody>
              {% for quiz in quizzes %}
              <tr>
                <td>{{ quiz.quiz_name }}</td>
                <td>{{ quiz.question_number }}</td>
                <td>{{ quiz.total_marks }}</td>
                <td>
                  <form action="{% url 'toggle-quiz-visibility' quiz.id %}" method="post">
                      {% csrf_token %}
                      <input type="checkbox" name="is_visible" {% if quiz.is_visible %}checked{% endif %} onchange="this.form.submit()">
                  </form>
              </td>
                <td>
                  <a href="{% url 'delete-quiz' quiz.id %}" class="btn btn-danger btn-xs" role="button">
                    <i class="fas fa-trash"></i> Delete
                  </a>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

{% endblock content %}
