{% extends 'quiz/adminbase.html' %}
{% load static %}
{% block content %}

<div class="container mt-5">
    <div class="card">
      <div class="card-header bg-primary text-white">
        <h5 class="card-title text-center mb-0">Pending Teachers</h5>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-hover">
            <thead>
              <tr>
                <th>Name</th>
                <th>Mobile</th>
                <th>Email</th>
                <th>Approve</th>
                <th>Reject</th>
              </tr>
            </thead>
            <tbody>
              {% for t in teachers %}
              <tr>
                <td>{{ t.get_name }}</td>
                <td>{{ t.mobile }}</td>
                <td>{{ t.email }}</td>
                <td>
                  <a href="{% url 'approve-teacher' t.id %}" class="btn btn-primary btn-sm" role="button">
                    <i class="fas fa-check"></i> Approve
                  </a>
                </td>
                <td>
                  <a href="{% url 'reject-teacher' t.id %}" class="btn btn-danger btn-sm" role="button">
                    <i class="fas fa-times"></i> Reject
                  </a>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

{% endblock %}
