{% extends 'quiz/adminbase.html' %}
{% load static %}
{% block content %}

{% block extra_head %}
  <style>
    .card.bg-primary {
      background-color: rgb(111, 120, 221) !important; /* Custom primary color */
    }

    .card.bg-success {
      background-color: rgb(160, 173, 111) !important; /* Custom primary color */
    }

    .card.bg-primary:hover {
      background-color: rgb(96, 103, 189) !important; /* Custom primary color */
    }

    .card.bg-success:hover {
      background-color: rgb(132, 143, 91) !important; /* Custom primary color */
    }
  </style>
{% endblock extra_head %}

<div class="container py-5">
  <div class="row">
    <div class="col-md-6 mb-4">
      <a href="admin-view-student" class="card bg-primary text-white text-decoration-none">
        <div class="card-body">
          <h5 class="card-title">Total Students</h5>
          <h2 class="card-text text-right">
            <i class="fas fa-user-graduate me-2"></i>{{ total_student }}
          </h2>
        </div>
      </a>
    </div>
    <div class="col-md-6 mb-4">
      <a href="admin-view-student-marks" class="card bg-success text-white text-decoration-none">
        <div class="card-body">
          <h5 class="card-title">Student Marks</h5>
          <h2 class="card-text text-right">
            <i class="fas fa-sort-numeric-up me-2"></i>{{ total_marks }}
          </h2>
        </div>
      </a>
    </div>
  </div>
</div>

{% endblock content %}
