{% extends 'quiz/adminbase.html' %}
{% load widget_tweaks %}
{% block extra_head %}
<style media="screen">
  input[type=text], select, input[type=number], input[type=password], textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

  .form-group {
    margin-bottom: 20px;
  }
</style>
{% endblock extra_head %}

{% block content %}
<h2 class="text-center text-dark">Update Teacher</h2>
<form method="post" autocomplete="off" enctype="multipart/form-data" style="margin: 100px auto; max-width: 600px; margin-top: 50px;">
  {% csrf_token %}

  <div class="form-group mb-4">
    <label for="first_name">First Name</label>
    {% render_field userForm.first_name class="form-control" placeholder="First Name" %}
  </div>

  <div class="form-group mb-4">
    <label for="last_name">Last Name</label>
    {% render_field userForm.last_name class="form-control" placeholder="Last Name" %}
  </div> 

  <div class="form-group mb-4">
    <label for="mobile">Mobile</label>
    {% render_field teacherForm.mobile class="form-control" placeholder="Mobile" %}
  </div> 

  <div class="form-group mb-4">
    <label for="address">Address</label>
    {% render_field teacherForm.address class="form-control" placeholder="Address" %}
  </div> 
      
  <div class="form-group mb-4">
    <label for="username">Username</label>
    {% render_field userForm.username class="form-control" placeholder="Username" %}
  </div> 

  <div class="form-group mb-4">
    <label for="password">Password</label>
    {% render_field userForm.password class="form-control" placeholder="Password" %}
  </div> 

  <div class="form-group mb-4">
    <label for="profile_pic">Profile Picture</label>
    {% render_field teacherForm.profile_pic class="form-control" placeholder="Profile Picture" %}
  </div> 

  <button type="submit" class="btn btn-primary">Update</button>
</form>
{% endblock content %}
